<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<atom:link href="{{ projectUrl }}rss.xml" rel="self" type="application/rss+xml" />
		<title>{{ projectName }}</title>
		<link>{{ projectUrl }}</link>
		<description>{{ projectDescription }}</description>

		{% for item in $indexes.feed.all %}
			<item>
				<title>
					{{ item.title }}
				</title>
				<link>{{ item.url }}</link>
				<description>{{ item.socialDescription }}</description>
			</item>
		{% endfor %}
	</channel>
</rss> 
